{% if ARCH == "aarch64" %}
  <not>
    <or>
      <hostname op="like" value="apm-mustang%"/>
    </or>
  </not>
{% endif %}
{% if ARCH == "x86_64" %}
  <not>
    <or>
      <hostname op="like" value="nec-em16%"/>
      <hostname op="like" value="dell-per805-01.dell2%"/>
    </or>
  </not>
{% endif %}
